<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Rozpoznawanie odręcznych cyfr</title>
</head>
<body>
    <h1>Rozpoznawanie odręcznych cyfr</h1>
    <p>Podaj plik z jedną odręczną cyfrą, a nasz model spróbuje ja rozpoznać.</p>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*">
        <button type="submit">Rozpoznaj</button>
    </form>

    {% if prediction != None %}
        <p>Rozpoznana cyfra to: {{ prediction }}</p>
    {% endif %}

</body>
</html>